.contactSection {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 40px;
  max-width: 1200px;
  margin: 60px auto;
  padding: 20px;
}

.infoBox {
  flex: 1;
  background: #fff;
  border: 1px solid #ddd;
  padding: 30px;
  border-radius: 10px;
}

.heading {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 20px;
}

.infoItem {
  display: flex;
  gap: 15px;
  margin-bottom: 20px;
}

.iconWrapper {
  width: 40px;
  height: 40px;
  background: #db4444;
  color: #fff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon {
  font-size: 18px;
}

.title {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 5px;
}

.text {
  font-size: 14px;
  color: #333;
  line-height: 1.5;
}

.divider {
  border: 0.5px solid #ddd;
  margin: 20px 0;
}

.form {
  flex: 2;
  background: #fff;
  border: 1px solid #ddd;
  padding: 30px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.inputRow {
  display: flex;
  gap: 20px;
}

.input {
  flex: 1;
  padding: 12px 15px;
  border: 1px solid #ddd;
  border-radius: 8px;
  font-size: 14px;
}

.textarea {
  padding: 12px 15px;
  border: 1px solid #ddd;
  border-radius: 8px;
  font-size: 14px;
  resize: none;
}

.button {
  align-self: flex-end;
  padding: 12px 25px;
  background:#db4444;
  color: #fff;
  border: none;
  border-radius: 8px;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  transition: 0.3s;
}

.button:hover {
  background: #333;
}



.breadcrumb {
  font-size: 14px;
  color: #555;
  margin-bottom: 40px;
}

.breadcrumb span {
  margin: 0 5px;
  color: #000;
}